# Pandas: Filtering and Grouping

In [1]:
import pandas as pd

In [2]:
# Load data

bom = pd.read_excel('../../data/BOM_VIC_20210323.xlsx')

# Remove unused column
bom = bom.drop(['Station'], axis=1)

# Remove 2021 values for consistency
bom = bom[:-82]

## Filtering

In [4]:
temp_filter = bom['Maximum'] >= 45

bom[temp_filter]

       Year  Month  Day  Rainfall  Maximum  Minimum
30692  1939      1   13       0.0     45.6     16.9
56277  2009      1   30       0.0     45.1     25.7
56285  2009      2    7       0.0     46.4     18.7

In [5]:
rainfall_filter = bom['Rainfall'] > 100
bom[rainfall_filter]

       Year  Month  Day  Rainfall  Maximum  Minimum
39474  1963      1   29     108.0     21.2     16.1
54820  2005      2    3     113.4     19.5     11.0

In [7]:
temp_filter = bom['Maximum'] >= 30
rainfall_filter = bom['Rainfall'] >= 10
bom[temp_filter & rainfall_filter]

       Year  Month  Day  Rainfall  Maximum  Minimum
438    1856      3   14      10.7     31.0     20.3
1146   1858      2   20      34.5     34.7     11.7
2577   1862      1   21      10.9     32.3     13.9
3286   1863     12   31      19.1     30.0     16.8
4100   1866      3   24      13.2     30.0     16.3
5141   1869      1   28      15.5     36.7     16.7
6185   1871     12    8      16.5     31.7     15.5
7347   1875      2   12      19.6     34.1     15.8
8081   1877      2   15      13.7     31.0     17.3
12419  1889      1    1      26.4     31.1     20.0
14985  1896      1   11      13.0     32.7     21.0
17910  1904      1   15      18.8     31.9     16.1
20490  1911      2    7      12.4     30.3     17.5
27077  1929      2   19      13.5     31.3     20.3
29999  1937      2   19      14.7     32.1     18.5
33598  1946     12   28      38.9     30.5     17.7
35827  1953      2    3      23.1     31.7     17.1
36551  1955      1   28      12.7     33.3     19.3
36902  1956      1   14      11.9     31.5     13.1
39097  1962      1   17      21.3     31.6     18.9
42392  1971      1   25      26.4     37.2     18.9
42724  1971     12   23      25.9     33.7     18.7
42775  1972      2   12      29.7     34.3     18.8
48981  1989      2    8      33.4     33.7     18.5
50420  1993      1   17      16.0     31.8     21.2
50800  1994      2    1      10.2     30.6     17.7
55180  2006      1   29      15.8     30.8     20.8
55871  2007     12   21      14.8     30.5     18.3

## Grouping

In [9]:
# Mean monthly temperature
bom.columns

Index(['Year', 'Month', 'Day', 'Rainfall', 'Maximum', 'Minimum'], dtype='object')

In [11]:
mean_temperature = bom[['Year', 'Month', 'Maximum', 'Minimum']].groupby([bom['Year'], bom['Month']]).mean()
mean_temperature[-24:]

            Year  Month    Maximum    Minimum
Year Month
2019 1      2019      1  28.377419  17.477419
     2      2019      2  26.007143  15.789286
     3      2019      3  24.761290  15.229032
     4      2019      4  22.046667  11.966667
     5      2019      5  17.819355  10.619355
     6      2019      6  15.473333   8.280000
     7      2019      7  15.000000   8.222581
     8      2019      8  14.474194   7.400000
     9      2019      9  17.756667   9.083333
     10     2019     10  21.325806  10.719355
     11     2019     11  21.793333  11.203333
     12     2019     12  24.554839  14.029032
2020 1      2020      1  26.935484  15.093548
     2      2020      2  24.406897  15.913793
     3      2020      3  22.925806  13.929032
     4      2020      4  19.313333  11.643333
     5      2020      5  16.367742   8.687097
     6      2020      6  14.850000   7.153333
     7      2020      7  13.980645   7.061290
     8      2020      8  15.148387   7.590323
     9      2020      9  18.076667   9.793333
     10     2020     10  19.148387  10.903226
     11     2020     11  24.456667  14.033333
     12     2020     12  22.874194  13.141935

In [12]:
# Total rainfall per month
total_rainfall = bom[['Year', 'Month','Rainfall']].groupby([bom['Year'], bom['Month']]).sum()

In [14]:
total_rainfall = bom[['Year', 'Month', 'Rainfall']].groupby([bom['Year'],bom['Month']]).agg({'Year':'first','Month':'first','Rainfall':'sum'})
total_rainfall[-24:]

            Year  Month  Rainfall
Year Month
2019 1      2019      1      11.2
     2      2019      2      18.6
     3      2019      3      12.0
     4      2019      4       7.2
     5      2019      5      53.4
     6      2019      6      49.8
     7      2019      7      45.2
     8      2019      8      51.4
     9      2019      9      41.0
     10     2019     10      24.0
     11     2019     11      54.4
     12     2019     12       6.2
2020 1      2020      1     115.2
     2      2020      2      76.2
     3      2020      3      71.0
     4      2020      4     138.4
     5      2020      5      66.8
     6      2020      6      29.0
     7      2020      7      30.0
     8      2020      8      61.6
     9      2020      9      33.6
     10     2020     10      74.2
     11     2020     11      48.8
     12     2020     12      42.0

In [ ]:
# Mean monthly total rainfall

In [ ]:
# Mean monthly temperature for last 40 years

In [ ]:
# Mean monthly total rainfall for last 40 years

In [ ]:
# Yearly mean temperature

In [ ]:
# Yearly total rainfall